n8n/workflows/rss-feeds-discord.json
{
  "name": "RSS Feeds to Discord",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://selfh.st/rss/"
      },
      "id": "rss-selfhst",
      "name": "RSS selfh.st",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [220, -100]
    },
    {
      "parameters": {
        "url": "https://discourse.nixos.org/latest.rss"
      },
      "id": "rss-nixos",
      "name": "RSS NixOS Discourse",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [220, 100]
    },
    {
      "parameters": {},
      "id": "merge-node",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.seenGuids) {\n  staticData.seenGuids = [];\n}\n\nconst seenGuids = new Set(staticData.seenGuids);\n\n// Group new items by source\nconst bySource = {};\n\nfor (const item of allItems) {\n  const guid = item.json.guid || item.json.id || item.json.link;\n  if (!guid || seenGuids.has(guid)) continue;\n\n  // Skip selfh.st items older than 4 weeks\n  const pubDate = item.json.pubDate || item.json.isoDate || '';\n  if (pubDate && item.json.link?.includes('selfh.st')) {\n    const itemDate = new Date(pubDate);\n    const fourWeeksAgo = new Date(Date.now() - 28 * 24 * 60 * 60 * 1000);\n    if (itemDate < fourWeeksAgo) continue;\n  }\n\n  seenGuids.add(guid);\n\n  let source = 'selfh.st';\n  if (item.json.link?.includes('discourse.nixos.org')) {\n    source = 'NixOS Discourse';\n  } else if (item.json.link?.includes('selfh.st')) {\n    source = 'selfh.st';\n  }\n\n  const title = (item.json.title || 'No title').substring(0, 100);\n  const link = item.json.link || '';\n\n  if (!bySource[source]) {\n    bySource[source] = [];\n  }\n  bySource[source].push({ title, link });\n}\n\nconst guidsArray = Array.from(seenGuids);\nstaticData.seenGuids = guidsArray.slice(-500);\n\nconst sources = Object.keys(bySource);\nif (sources.length === 0) {\n  return [];\n}\n\n// Build one embed per source, max 10 items each\nconst embeds = [];\nfor (const source of sources) {\n  const items = bySource[source].slice(0, 10);\n  const lines = items.map(i => `[${i.title}](${i.link})`).join('\\n');\n  const extra = bySource[source].length > 10 ? `\\n...and ${bySource[source].length - 10} more` : '';\n\n  embeds.push({\n    title: `${source} (${bySource[source].length} new)`,\n    description: lines + extra,\n    color: source === 'selfh.st' ? 3447003 : 7506394\n  });\n}\n\n// Discord allows max 10 embeds per message\nreturn [{ json: { embeds: embeds.slice(0, 10) } }];"
      },
      "id": "code-dedup",
      "name": "Deduplicate & Group",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "PASTE_YOUR_DISCORD_WEBHOOK_URL_HERE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "discord-post",
      "name": "Post to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0]
    }
  ],
  "connections": {
    "Daily 8AM": {
      "main": [
        [
          { "node": "RSS selfh.st", "type": "main", "index": 0 },
          { "node": "RSS NixOS Discourse", "type": "main", "index": 0 }
        ]
      ]
    },
    "RSS selfh.st": {
      "main": [
        [
          { "node": "Merge", "type": "main", "index": 0 }
        ]
      ]
    },
    "RSS NixOS Discourse": {
      "main": [
        [
          { "node": "Merge", "type": "main", "index": 1 }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          { "node": "Deduplicate & Group", "type": "main", "index": 0 }
        ]
      ]
    },
    "Deduplicate & Group": {
      "main": [
        [
          { "node": "Post to Discord", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
